*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}
#Header{
    background-color: rgb(89, 118, 196);
    text-align: center;
    height: 50px;
}
#Menu{
    background-color:rgb(94, 125, 150);
    width: 100%;
    height: 30px;
    
}
#Left-content{
    background-color: rgb(114, 67, 65);  
    width: 25%;
    height: 60%;
    float: left;
}
#Main-content{
    background-color: rgb(28, 133, 231);
    height: 60%;
    width: 50%;
    float: left;
}
#Right{
    background-color: rgb(122, 82, 122);
    height: 60%;
    width: 25%;
    float: left;

}
#footer{
    background-color: rgb(39, 51, 61);
    height: 20px;
    clear: both;
}