*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}
#header{
    background-color: rgb(26, 133, 16);
    text-align: center;
    height: 50px;
    border-bottom: 5px solid white;
}
#sidebar{
    background-color: rgb(26, 133, 16);
    width: 10%;
    float: left;
    height: 200px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
}
#right #content1{
    background-color: rgb(26, 133, 16);
    height: 100px;
    border-bottom: 5px solid white;
}
#right #below{
    height: 100px;
}
#right #below #content2{
    width: 50%;
    float: left;
    height: 100px;
    background-color: rgb(26, 133, 16);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
#right #below #content3{
    width: 40%;
    float: left;
    height: 100px;
    background-color: rgb(26, 133, 16);
    border-bottom: 5px solid white;
}
#footer{
    clear: both;
    background-color: rgb(26, 133, 16);
    height: 80px;
    text-align: center;
    padding: 20px;
}