*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.image{
    position:relative;
    width: 400px;
}

.overlay{
    background-color: rgb(0, 0, 0);
    /*width: 720px;
     height:100%; */
    bottom:0;
    left:0;
    position:absolute;
    color:rgb(240, 239, 243);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
    transition: 0.01s;
    opacity: 0;

}
.image:hover .overlay {
   background-color: rgb(0, 0, 0);
   opacity: 0.5;
   width:720px;

}

.overlay p{
    font-size:25px;
    color:rgb(246, 238, 238);
}
.overlay a{
    font-size: 30px;
    color:rgb(235, 238, 243)
}