body{
    font-family: 'Times New Roman', Times, serif;
    margin:0 ;
    padding: 0;
    text-align: center;
}
nav{
    background-color: cadetblue;
    padding: 10px 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
}
nav a:hover{
    background-color: brown;
}
    section{
        padding: 2px;
    }
    h1{
        margin: 2px;
    }
    p{
        margin: 2px;
    }
    ul{
        margin: 2px;
    }
    #gallery.container{
         display: flex;
         flex-direction: column;   
         align-items: center; 
         width: 100%;
         max-width: 400px;
         margin: 10px;
    }
    form input,form textarea{
        width: 100%;
        max-width: 300px;
        margin: 5px 0;
        padding: 5px;
    }
    .container{
        max-width: 700px;
        margin: auto;
        padding: 5px;
    }
    #contact{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }    
    @media(max-width:600px){
        nav a{
            display: block;
            padding: 15px;
        }
    }
    