body{
    display:inline;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 10px;
    background-image: url(https://www.paclights.com/wp-content/uploads/led-street-lights-design.png);
}
h1{
    text-align:center; 
    color: white;
    flex:auto;

}

.container1{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: rgb(215, 210, 210);
    width: 500px;
    box-shadow: 5px 0px 10px rgba(255, 255, 255, 0.3);
    opacity:1;
}
.container1 h2 {
    color: aquamarine;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
}
.form-group input {
    width: 90%;
    padding: 15px;
    border-radius: 2px;
    border:none;
    margin-bottom: 5px;
}
.btn {
    width: 100%;
    padding: 15px;
    background: rgb(246, 175, 9);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background: rgb(146, 146, 19);
} 

.container2{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: rgb(215, 210, 210);
    width:250px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
    opacity: 0.8;
    /* background-color: rgba(22, 21, 21, 0.719); */
    height: fit-content;
    
}
.container2 h2 {
    color: aquamarine;
}

.container{
    display: flex;
    justify-content:center;
    gap: 40px; 
    flex-direction: row; 
    margin-top: 60px;
    align-items: center;

}