*{
    margin:auto;
    padding:10px;
}
.menu{
    background-color: rgb(255, 255, 0);
    display:flex;
    height:50px;
    border-top: 0.5px solid black; 
}
.menu ul li{
    display:inline-block;
    color:black;
    border-left: 2px solid black;
    padding-left:20px ;

}
.menu ul li:hover{
    background-color: blueviolet;
    color: whitesmoke;
}