*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: red;
    padding: 2px;
}

fieldset{
    width: 70%;
    margin: auto;
    padding: 20px;
}

legend{
    text-align: center;
}
div.form-group{
    border: 1px solid #999;
    padding: 10px;
}

div.form-group label{
    width: 100px;
    display: inline-block;
    border-radius: 30px;
}
/* group selector */
div.form-group input,select,textarea{
    width: 70%;
}
/* attribute selector */
div.form-group input[type=radio]{
    width: 5%;
}


div.form-group input[type=checkbox]{
    width: 5%;
}

div.form-group.btn input{
    width: 20%;
    padding: 5px 0;
    border: none;
    color: white;
}

div.form-group input[type=submit]{
    background-color: rgb(25, 96, 25);
}

div.form-group input[type=reset]{
    background-color: rgb(221, 53, 27);
}

