/*.box{
    width:50%;
    height:300px;
    border:10px solid black;
    margin:auto;
    border-radius: 15px;
}
header{
    background-color: rgb(234, 114, 114);
    text-align: center;
    height: 15%;
    font-size:25px;
}
.main{
    background-color: rgb(249, 245, 245);
    text-align: center;
    height: 37%;
    font-size:25px;
}
.left{
    background-color: rgb(233, 212, 54);
    text-align: center;
    height: 33%;
    font-size:25px;
    width: 50%;
    float: left;
}
.right{
    background-color: rgb(166, 246, 91);
    text-align: center;
    height: 33%;
    font-size:25px;
    width: 50%;
    float: right;
}
footer{
    background-color: aquamarine;
    text-align: center;
    height: 15%;
    font-size:25px;
}
*/
* {
    padding: 0;
    margin: 0;
}
div {
    text-align: center;
}
.header {
    border-bottom: 2px solid black;
    border-top:4px solid black ;
    background-color: rgb(244, 52, 129);
    height: 40px;
    padding-top: 20px;
    border-right: 5px solid #000000;
    border-left: 5px solid #000000;
   
}
.left-content {
    height: 300px;
    border-top: 0;
    width: 20%;
    border-bottom:2px solid black;
    border-right: 2px solid black;
    background-color: rgb(237, 184, 23);
    border-left: 5px solid #000000;
    
}
.main-content {
    height: 300px;
    border-top: 0;
    width: 60%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}
.right {
    height: 300px;
    border-top: 0;
    width: 20%;
    border-bottom: 2px solid black;
    border-right: 5px solid black;
    background-color: rgb(95, 160, 118);
}
.container {
    display: flex;
}
.footer {
    height: 50px;
    border-bottom: 4px solid black ;
    background-color: rgb(45, 146, 205);
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
}
@media(max-width:550px) and (max-width:768px)and (max-width:1024px){
    .header{
        background-color: rgb(182, 10, 24);
    }
    body {
        padding: 0;
        margin: 0;
    }
    div {
        text-align: center;
    }
    .left-content {
        height: 25px;
        padding: 10px;
        flex-grow: 1;
        border-right: 0;
        background-color: rgb(163, 189, 15);
    
    }
    .main-content {
        padding-bottom: 400px ;
        width: 30%;
        height: 300px;
        
       
    }
    .right {
        height: 25px;
        padding: 10px;
        flex-grow: 3;
        width: 96%;
        border-right: 0;
        background-color: rgb(115, 214, 10);
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .left-content,.main-content{
        width: 100%;
    }
    .footer {
        padding-bottom: 10px;
    }
}

