* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #00395d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
    background-color: #00395d;
    color: white;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
  }
  
  .nav-links li a:hover {
    background-color: #022f4c;
    border-radius: 4px;
  }
  
 
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #00395d;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 20px;
      text-align: center;
      z-index: 1000;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
  
