* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    background: #c9c0c0;
}
.container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    margin-bottom: 20px;
}
.team {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
}
.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/*
.card h3 {
    margin: 10px 0 5px;
}*/
.card p {
    color: rgb(113, 107, 107);
    font-size: 14px;
}

@media (max-width: 600px) {
    .team {
        flex-direction: column;
        align-items: center;
    }
}
btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    color: #322f2f;
}
